<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="edc48a">  <td>22/02/05 17:07:08</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestExecution.openingFireFox()[pri:0, instance:com.lendenclub.test.TestExecution@4a7f959b]">&gt;&gt;openingFireFox</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1627396964</td>   <td></td> </tr>
<tr bgcolor="edc48a">  <td>22/02/05 17:07:12</td>   <td>3800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestExecution.ChechingJobStatus()[pri:2, instance:com.lendenclub.test.TestExecution@4a7f959b]">ChechingJobStatus</td> 
  <td>main@1627396964</td>   <td></td> </tr>
<tr bgcolor="edc48a">  <td>22/02/05 17:07:10</td>   <td>1754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestExecution.loginPage()[pri:1, instance:com.lendenclub.test.TestExecution@4a7f959b]">loginPage</td> 
  <td>main@1627396964</td>   <td></td> </tr>
</table>
